<?xml version="1.0"?>
<configuration>
  <system.web>

    <customErrors mode="Off"></customErrors>
    <httpRuntime maxRequestLength="2097151" executionTimeout="14400" useFullyQualifiedRedirectUrl="true"/>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Security, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data.Entity.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
      <buildProviders>
        <add extension=".edmx" type="System.Data.Entity.Design.AspNet.EntityDesignerBuildProvider"/>
      </buildProviders>
    </compilation>

    <membership>
      <providers>
        <clear />
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="50" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>
    <roleManager enabled="true">
      <providers>
        <clear />
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/" />
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/" />
      </providers>
    </roleManager>


  </system.web>
  <system.serviceModel>
    <!--<serviceHostingEnvironment multipleSiteBindingsEnabled="true"/>-->
    <serviceHostingEnvironment multipleSiteBindingsEnabled="false"/>
    <services>
      <service behaviorConfiguration="HospitalServiceBehavior" name="GTPService">
        <endpoint address="http://localhost/GTPWCF/GTPService.svc"  binding="basicHttpBinding" bindingConfiguration="HospitalbasicHttpBinding" contract="IGTPService"/>        
      </service>
   
        <service name="GTPRESTService">
          <endpoint address="http://localhost/GTPWCF/GTPRESTService.svc"  binding="webHttpBinding" contract="IGTPRESTService"
                    behaviorConfiguration="webHttp"/>
        </service>
      
    </services>
    <bindings>
      <basicHttpBinding>
        <binding name="ImageServiceHttpBinding" messageEncoding="Mtom" transferMode="StreamedRequest" maxReceivedMessageSize="16384000" maxBufferPoolSize="16384000" maxBufferSize="16384000">
          <readerQuotas maxDepth="16384000" maxStringContentLength="16384000" maxArrayLength="16384000"/>
        </binding>
        <binding name="HospitalbasicHttpBinding" maxBufferSize="6665536" maxBufferPoolSize="66524288" maxReceivedMessageSize="6665536"
                    messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"  closeTimeout="11:01:00" receiveTimeout="11:01:00"
						 sendTimeout="11:01:00" openTimeout="11:01:00">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"/>
        </binding>
        <binding name="TransferServiceBinding" messageEncoding="Text" transferMode="StreamedResponse"/>
        <binding name="TransferService" maxReceivedMessageSize="2147483647" maxBufferSize="2147483647" transferMode="Streamed">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"/>
        </binding>

      </basicHttpBinding>

    </bindings>
    <diagnostics>
      <messageLogging logEntireMessage="true" logMalformedMessages="true" logMessagesAtTransportLevel="true"/>
    </diagnostics>
    <behaviors>
      <endpointBehaviors>
        <behavior name="webHttp">
          <webHttp/>
        </behavior>
      </endpointBehaviors>
      
      <serviceBehaviors>
        <behavior name="ImageServiceBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
        <behavior name="HospitalServiceBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>

  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>



  <connectionStrings>
    <add name="REMISEntities" connectionString="metadata=res://*/App_Code.REMIS.csdl|res://*/App_Code.REMIS.ssdl|res://*/App_Code.REMIS.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=VITELNET-PC;Initial Catalog=GAPP-DEV;User ID=sa;Password=vitelnet123$%;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>
    <add name="UserDBEntities" connectionString="metadata=res://*/App_Code.UserDB.csdl|res://*/App_Code.UserDB.ssdl|res://*/App_Code.UserDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=HP2;Initial Catalog=UserDB;User ID=sa;Password=sa123;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>
    <add name="ApplicationServices" connectionString="Data Source=vitelnet-pc;Initial Catalog=UserDB;User ID=sa;Password=vitelnet123$%; Pooling=false;" providerName="System.Data.SqlClient" />
    <add name="REMIS" connectionString="Data Source=VITELNET-PC;Initial Catalog=GAPP-DEV;User ID=sa;Password=VITELNET123$%; Pooling=false;" providerName="System.Data.SqlClient" />
  </connectionStrings>

</configuration>